.LeftSize_main {
    /* height: 96%; */
    height: auto;
    width: 180px;
    padding: 40px;
}
.leftSide_header {
    font-weight: bold;
    margin: 10px;
}
.brandname {
    display: block;
    width: 100px;
}
@media screen and (max-width: 480px) {
    .LeftSize_main{
        width: 100px;
        padding: 10px;
    }
}